{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.json",
    "tsconfigRootDir": "Electronic-pass"
  },
  "ignorePatterns": ["metro.config.js", "babel.config.js"],
  "plugins": ["@typescript-eslint", "prettier", "react", "import"],
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "warn",
    "@typescript-eslint/no-shadow": "off",
    "react/jsx-curly-brace-presence": ["error", "never"],
    "@typescript-eslint/no-var-requires": "off",
    "import/newline-after-import": "error",
    "newline-before-return": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "export" },
      { "blankLine": "always", "prev": "export", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "always", "prev": "if", "next": "*" }
    ],
    "import/order": [
      "error",
      { "newlines-between": "always", "groups": ["builtin", "external"] }
    ],
    "prefer-destructuring": ["error", { "array": true, "object": true }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
